body{
    font-family: Arial, sans-serif;
    margin:0;
    background:#f5f5f5;
}

.container{
    width:900px;
    margin:auto;
    background:white;
    display:flex;
}

.sidebar{
    width: 300px;
    background:#ceb5a4;
    border-radius: 10px;
    padding: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.sidebar img{
    width: 150px;
    border-radius:10px;
    margin-bottom:20px;
}

.sidebar h2{
    margin-top:30px;
    font-size:14px;
    letter-spacing:2px;
}

.sidebar ul{
    list-style:none;
    padding:0;
}

.sidebar li{
    margin:6px 0;
}

.main{
    width:65%;
    padding:40px;
    font-family: Arial, Helvetica, sans-serif;
}

.main p{
    font-family: Arial, Helvetica, sans-serif;

}

.main h1{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.main h2{
    font-size:23px;
    letter-spacing:2px;
    font-family: 'Courier New', Courier, monospace;
}   

.info{
    display:flex;
    justify-content:space-between;
    font-family: Arial, Helvetica, sans-serif;
}

.job{
    font-family: Arial, Helvetica, sans-serif;
}

.date{
    float:right;
    color:gray;
}
.corpo{
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
.corpo h2{
    font-size:30px;
    font-family: 'Courier New', Courier, monospace;
}